@import "tailwindcss";
@import "../ui/tokens/tokens.css";

@layer base {
  body {
    background-color: var(--color-canvas);
    color: var(--color-text);
    font-size: var(--text-body);
    line-height: var(--text-body--line-height);
  }
}
